.coverImg {
  height: 500px;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: white;
  font-size: 28px;
}

.des {
  color: white;
  font-size: 20px;
}

.stepSec {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0px;
  background-color: whitesmoke;
}

.step {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stepTitle {
  font-size: 18px;
}

.textSecCon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 50px;
}

.textSec {
  display: flex;
}

.img {
  width: 600px;
}

.text {
  font-size: 22px;
  margin-left: 50px;
  text-align: justify;
}

@media screen and (max-width: 1201px) {
  .img {
    width: 500px;
  }

  .text {
    font-size: 18px;
  }
}

@media screen and (max-width: 1005px) {
  .img {
    width: 300px;
  }

  .text {
    font-size: 16px;
  }
}

@media screen and (max-width: 890px) {
  .textSec {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 664px) {
  .title {
    font-size: 20px;
    padding: 0px 10px;
  }

  .stepSec {
    flex-direction: column;
  }

  .step {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 480px) {
  .title {
    font-size: 16px;
  }

  .text {
    font-size: 16px;
    margin-left: 10px;
  }

  .img {
    width: 50vw;
  }

  .textSec {
    padding: 20px;
  }

  .des {
    font-size: 16px;
  }
}
